
<div class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-3" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-2.jpg);">
      <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
        <div class="m-login__container">
          <div class="m-login__logo">
            <a href="#">
              <img src="../../../assets/app/media/img//logos/logo-1.png">
            </a>
          </div>
          <div *ngIf="authType == 'login'">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Sign In To Admin
              </h3>
            </div>
            <form class="m-login__form m-form" role="form" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group m-form__group">
                <input formControlName="loginEmail" class="form-control m-input"   type="email" placeholder="Email" autocomplete="off">
                <div class="m-alert m-alert--outline alert alert-'+i+' alert-dismissible" role="alert" *ngIf="loginEmail.invalid && loginEmail.touched">
                  <span *ngIf="loginEmail.errors.required">Email Address is required</span>
                  <span *ngIf="loginEmail.errors.email">Invalid Email Address</span>
                </div>
              </div>
              <div class="form-group m-form__group">
                <input formControlName="loginPassword" class="form-control m-input m-login__form-input--last" type="password" placeholder="Password">
                <div class="m-alert m-alert--outline alert alert-'+i+' alert-dismissible" role="alert" *ngIf="loginPassword.invalid && loginPassword.touched">
                  <span *ngIf="loginPassword.errors.required">Password  is required</span>
                </div>
              </div>
              <div class="row m-login__form-sub">
                <div class="col m--align-left m-login__form-left">
                  <label class="m-checkbox  m-checkbox--light">
                    <input type="checkbox" name="remember">
                    Remember me
                    <span></span>
                  </label>
                </div>
                <div class="col m--align-right m-login__form-right">
                  <a [routerLink]="['/forget-password']" id="m_login_forget_password" class="m-link">
                    Forget Password ?
                  </a>
                </div>
              </div>
              <div class="m-login__form-action">
                <button id="m_login_signin_submit" type="submit" [disabled]="getDisableLoginState" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
                  <i *ngIf="disableBtn" class="fa fa-spinner fa-spin"></i>
                  Sign In
                </button>
              </div>
            </form>
            <div class="m-login__account">
              <span class="m-login__account-msg">
                Don't have an account yet ?
              </span>
              &nbsp;&nbsp;
              <a [routerLink]="['/register']" id="m_login_signup" class="m-link m-link--light m-login__account-link">
                <i *ngIf="disableBtn" class="fa fa-spinner fa-spin"></i>
                Sign Up
              </a>
            </div>
          </div>
          <div *ngIf="authType == 'register'">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Sign Up
              </h3>
              <div class="m-login__desc">
                Enter your details to create your account:
              </div>
            </div>
            <form class="m-login__form m-form" [formGroup]="registerForm" (ngSubmit)=register()>
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="firstname" name="firstname" formControlName="firstName">
                <div class="m-alert m-alert--outline alert alert-'+i+' alert-dismissible" role="alert" *ngIf="firstName.invalid && firstName.touched">
                  <span *ngIf="firstName.errors.required">First Name is required</span>
                  <span *ngIf="firstName.errors.maxlength">Maximum characters is 30</span>
                  <span *ngIf="firstName.errors.minlength">Minimum characters is 3</span>
                  <span *ngIf="firstName.errors.pattern">Invalid characters only</span>
                </div>
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Last Name" name="lastname" formControlName="lastName">
                <div class="m-alert m-alert--outline alert alert-'+i+' alert-dismissible" role="alert" *ngIf="lastName.invalid && lastName.touched">
                  <span *ngIf="lastName.errors.required">Last Name is required</span>
                  <span *ngIf="lastName.errors.maxlength">Maximum characters is 30</span>
                  <span *ngIf="lastName.errors.minlength">Minimum characters is 3</span>
                  <span *ngIf="lastName.errors.pattern">Invalid characters only</span>
                </div>
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Email" name="email" formControlName="email" autocomplete="off">
                <div class="m-alert m-alert--outline alert alert-'+i+' alert-dismissible" role="alert" *ngIf="email.invalid && email.touched">
                  <span *ngIf="email.errors.required">Email Address is required</span>
                  <span *ngIf="email.errors.email">Invalid Email Address</span>
                </div>
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="password" placeholder="Password" name="password" formControlName="password">
                <div class="m-alert m-alert--outline alert alert-'+i+' alert-dismissible" role="alert" *ngIf="password.invalid && password.touched">
                  <span *ngIf="password.errors.required">Password  is required</span>
                </div>
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" formControlName="confirmPassword" name="rpassword">
                <div class="m-alert m-alert--outline alert alert-'+i+' alert-dismissible" role="alert" *ngIf="confirmPassword.invalid && confirmPassword.touched">
                  <span *ngIf="confirmPassword.errors?.required">Confirm Password is required</span>
                  <span *ngIf="confirmPassword.errors?.equalTo">Password does not match </span>
                </div>
              </div>
              <div class="row form-group m-form__group m-login__form-sub">
                <div class="col m--align-left">
                  <label class="m-checkbox m-checkbox--light">
                    <input type="checkbox" name="agree">
                    I Agree the
                    <a href="#" class="m-link m-link--focus">
                      terms and conditions
                    </a>
                    .
                    <span></span>
                  </label>
                  <span class="m-form__help"></span>
                </div>
              </div>
              <div class="m-login__form-action">
                <button type="submit"  [disabled]="getDisableRegisterState" id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
                  <i *ngIf="disableBtn" class="fa fa-spinner fa-spin"></i>
                  Sign Up
                </button>
                &nbsp;&nbsp;
                <button id="m_login_signup_cancel" [routerLink]="['/login']" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <div *ngIf="authType == 'forget-password'">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Forgotten Password ?
              </h3>
              <div class="m-login__desc">
                Enter your email to reset your password:
              </div>
            </div>
            <form class="m-login__form m-form" role="form" [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="email" placeholder="Email" name="email" id="m_email" formControlName="forgetEmail" autocomplete="off">
              </div>
              <div class="m-login__form-action">
                <button type="submit" [disabled]="getDisableState" id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                  <i *ngIf="disableBtn" class="fa fa-spinner fa-spin"></i>
                  Request
                </button>
                &nbsp;&nbsp;
                <button id="m_login_forget_password_cancel" [routerLink]="['/login']" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

