
        <div class="m-content">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Employees
                    <small>
                      List of employess
                    </small>
                  </h3>
                </div>
              </div>
              <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                      <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-ellipsis-h m--font-brand"></i>
                      </a>
                      <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                          <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                              <ul class="m-nav">
                                <li class="m-nav__section m-nav__section--first">
                                  <span class="m-nav__section-text">
                                    Quick Actions
                                  </span>
                                </li>
                                <li class="m-nav__item">
                                  <a href="" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-share"></i>
                                    <span class="m-nav__link-text">
                                      Create Post
                                    </span>
                                  </a>
                                </li>
                                <li class="m-nav__item">
                                  <a href="" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                    <span class="m-nav__link-text">
                                      Send Messages
                                    </span>
                                  </a>
                                </li>
                                <li class="m-nav__item">
                                  <a href="" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                    <span class="m-nav__link-text">
                                      Upload File
                                    </span>
                                  </a>
                                </li>
                                <li class="m-nav__section">
                                  <span class="m-nav__section-text">
                                    Useful Links
                                  </span>
                                </li>
                                <li class="m-nav__item">
                                  <a href="" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-info"></i>
                                    <span class="m-nav__link-text">
                                      FAQ
                                    </span>
                                  </a>
                                </li>
                                <li class="m-nav__item">
                                  <a href="" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                    <span class="m-nav__link-text">
                                      Support
                                    </span>
                                  </a>
                                </li>
                                <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                                <li class="m-nav__item m--hide">
                                  <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                    Submit
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin: Search Form -->
              <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                  <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                      <div class="col-md-4">
                        <div class="m-form__group m-form__group--inline">
                          <div class="m-form__label">
                            <label>
                              Status:
                            </label>
                          </div>
                          <div class="m-form__control">
                            <select class="form-control m-bootstrap-select m-bootstrap-select--solid" id="m_form_status">
                              <option value="">
                                All
                              </option>
                              <option value="1">
                                Pending
                              </option>
                              <option value="2">
                                Delivered
                              </option>
                              <option value="3">
                                Canceled
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                      </div>
                      <div class="col-md-4">
                        <div class="m-form__group m-form__group--inline">
                          <div class="m-form__label">
                            <label class="m-label m-label--single">
                              Type:
                            </label>
                          </div>
                          <div class="m-form__control">
                            <select class="form-control m-bootstrap-select m-bootstrap-select--solid" id="m_form_type">
                              <option value="">
                                All
                              </option>
                              <option value="1">
                                Online
                              </option>
                              <option value="2">
                                Retail
                              </option>
                              <option value="3">
                                Direct
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                      </div>
                      <div class="col-md-4">
                        <div class="m-input-icon m-input-icon--left">
                          <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                          <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span>
                              <i class="la la-search"></i>
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                    <a [routerLink]="['/create-item']" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                      <span>
                        <i class="la la-plus"></i>
                        <span>
                          Add Employee
                        </span>
                      </span>
                    </a>
                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                  </div>
                </div>
              </div>
              <!--end: Search Form -->
  <!--begin: Datatable -->
  <div class="text-center" *ngIf="users && (users.length === 0)">
    <div class="loading-tab">
        <i class="fa fa-frown-o fa-2x text-secondary"></i><br />
        <h5 id="no-inflow-cat">No Users Yet</h5>
    </div>
  </div>
  <div class="text-center" *ngIf="!(users)">
      <div class="loading-tab">
          <h5 id="pls-wait"><i class="fa fa-spinner fa-spin fa-1x"></i> Please Wait</h5>
      </div>
  </div>
  <div *ngIf="users && users.length" class="table-responsive" id="local_data">
    <!-- <form>
      <div class="form-group form-inline">
          Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
      </div>
    </form> -->

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td scope="row">{{user.secret.firstName}}</td>
        <td><ngb-highlight [result]="user.secret.lastName" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.secret.email" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.createdAt | date" [term]="filter.value"></ngb-highlight></td>
        <td>
          <div class="dropdown remove-caret" placement="left-top" ngbDropdown>
            <button id="drop-view" type="button" class="btn btn-secondary py-1 px-2"
                ngbDropdownToggle><i class="ion-ios-more"></i></button>
            <div class="dropdown-menu py-0" role="menu" ngbDropdownMenu>
              <button (click)="updateItem(item)"
              class="dropdown-item py-2" id="deleteItem">Edit Item</button>
              <div class="dropdown-divider my-0"></div>
              <button class="dropdown-item py-2" type="button"
                id="deleteItem">Delete Item</button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div> -->
  </div>
              <!--end: Datatable -->
            </div>
          </div>
        </div>

